@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metamorphous&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    font-family:'Poppins';
    margin: 0;
    padding: 0;
    background-image: url('photos/beach.webp');
    background-size: cover;
    background-position: center center; 
    height: 100dvh;
    width: 100vw;
    overflow-x: hidden;
    overscroll-behavior: none;
}


.hero-container {
    height: 100dvh; /* 100% dü */
    display: flex;
    flex-direction: column;

    /* justify-content: space-evenly; yoktu */
    align-items: center;
}

.countdown-text {
    width: 100%;
    font-size: clamp(1.4rem, 2.2vw, 1.8rem);
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 200;
    padding: 3rem 0 0;
}

.countdown-actual-container {
    display: flex;
}

.countdown-actual-item {
    justify-items: center;
    text-align: center; 
}

.countdown-actual-item .big-text{
    font-weight: bold;
    font-size: clamp(3.5rem, 5vw, 40.5rem);
    line-height: 1;
    margin: 0 2.2rem;
    background: linear-gradient(to top, rgb(28, 87, 114), rgb(0, 14, 26));
    -webkit-background-clip: text; /* for Safari and Chrome */
    -webkit-text-fill-color: transparent; /* hides original text color */
    background-clip: text; /* standard */
    color: transparent; /* fallback */
}

.important-message {
    padding: 0.25rem 0.5rem 0.25rem;
    background-color: rgba(122, 255, 237, 0.12);
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.important-message p {
    font-family: "Grenze", serif;
    font-size: clamp(1.4rem, 2.9vh, 1.9rem);
    color: rgb(9, 45, 48);
    opacity: 0.9;
    padding: 0.3rem 0.6rem 0.3rem;
    text-align: center;
    overflow-wrap: break-word;   /* Break long words */
    word-break: break-word;       /* For some browsers */
    white-space: normal;          /* Ensure wrapping */
}

.button {
    margin: -0.1rem 0.4rem 0.5rem;
    font-family: inherit;
    font-size: 1.2rem;
    float: right;
    background: none;
    border-radius: 1rem;
    box-shadow: 1px 2px 3px rgba(56, 56, 56, 0.5);
    transition: none;
}



@media (max-width: 768px) {
    body {
      background-image: url('photos/flamingo.webp');
    }
    .countdown-text {
        padding: 3.5rem 0 0;
    }
    .countdown-actual-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 1rem;
    }
    .countdown-actual-container {
        flex-direction: column;
        justify-content: center;

    }
    .countdown-actual-item .big-text{
        font-weight: bold;
        line-height: 1;
        margin: 0 2.2rem;
    }
    .countdown-actual-item .big-text {
        background: linear-gradient(to top, rgb(96, 40, 55), black);
        -webkit-background-clip: text; /* for Safari and Chrome */
        -webkit-text-fill-color: transparent; /* hides original text color */
        background-clip: text; /* standard */
        color: transparent; /* fallback */
    }
    .important-message {
        background-color: rgba(100, 240, 240, 0.12);
        margin: 0;
    }
    .button {
        font-size: 1.1rem;
    }
  }